.page-index

    &__ny-booking
        padding-top: 50px
        // padding-bottom: 70px
        .ny-booking
            &__head
                display: flex
                flex-direction: column
                align-items: center
                gap: 10px
                padding: 20px 0
            &__title
                color: #262626
                text-align: center
                font-size: 48px
                font-style: italic
                font-weight: 400
                line-height: normal
                letter-spacing: 1.44px
                @media screen and ( max-width: $md2 )
                    font-size: 36px
                    letter-spacing: 0.84px

            &__desc
                color: #393939
                text-align: center
                font-size: 16px
                font-style: italic
                font-weight: 400
                line-height: normal
                letter-spacing: 0.48px
            &__separator
                margin-top: 30px
                width: 100%
                display: flex
                align-items: center
                justify-content: center
                position: relative
                &::after
                    content: ''
                    position: absolute
                    top: 50%
                    left: 0
                    right: calc(50% + 70px)
                    height: 1px
                    background: #393939
                    transform: translateY(-50%)
                &::before
                    content: ''
                    position: absolute
                    top: 50%
                    right: 0
                    left: calc(50% + 70px)
                    height: 1px
                    background: #393939
                    transform: translateY(-50%)
            &__info
                display: flex
                flex-direction: row
                justify-content: space-between
                align-items: center
                padding: 30px 0
                flex-wrap: wrap
                gap: 35px
            &__text-container
                display: flex
                flex-direction: column
                position: relative
                max-width: 470px
                gap: 8px
                @media screen and ( max-width: $md1 )
                    max-width: 100%

                &-title
                    color: #262626
                    font-size: 24px
                    font-style: normal
                    font-weight: 400
                    line-height: normal
                    margin-bottom: 8px
                &.line
                    position: relative
                    padding-left: 12px
                    &::after
                        content: ''
                        width: 1px
                        position: absolute
                        top: 0
                        bottom: 0
                        left: 0
                        background: #393939
            &__text
                font-size: 16px
                color: #393939
                line-height: 150%
                &.bold
                    color: #262626

            &__billboard
                width: 100%
                max-width: 570px
                border: 1px solid #262626
                padding: 40px 30px
                display: flex
                flex-direction: column
                gap: 10px
                margin: 0 auto
                @media screen and ( max-width: $md1 )
                    margin: 0 auto

                @media screen and ( max-width: $md3 )
                    padding: 20px 15px

                &-title
                    color: #262626
                    text-align: center
                    font-size: 24px
                    font-style: normal
                    font-weight: 400
                    line-height: 140%
                    letter-spacing: 0.72px

                    @media screen and ( max-width: $md2 )
                        font-size: 21px
                        letter-spacing: 0.32px

                &-desc
                    color: #262626
                    text-align: center
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: 140%
                    &.bold

                &-separator
                    height: 1px
                    width: 100%
                    padding: 0
                    margin: 10px 0
                    background: #393939
            &__rooms
                display: flex
                flex-direction: column
                gap: 24px
                padding: 50px 0
                &-title
                    color: #262626
                    text-align: center
                    font-size: 32px
                    font-style: normal
                    font-weight: 400
                    line-height: normal
                    letter-spacing: 0.96px
                .ny-booking-room
                    max-width: 470px
                    overflow: hidden
                    @media screen and ( max-width: $md2 )
                        max-width: 420px
                    @media screen and ( max-width: $md3 )
                        max-width: 350px
                    &__wrapper
                        display: flex
                        flex-direction: row
                        gap: 30px
                        width: fit-content

                        flex-wrap: nowrap
                        // overflow: scroll
                        -ms-overflow-style: none
                        scrollbar-width: none
                        user-select: none
                        box-sizing: border-box
                        -webkit-tap-highlight-color: rgba(0,0,0,0)
                        &::-webkit-scrollbar
                            display: none
                    &__image
                        pointer-events: none
                        display: flex
                        align-items: center
                        justify-content: center
                        position: relative
                        &-decorate
                            position: absolute
                            left: 0
                            right: 0
                            top: 0
                            bottom: 0
                        &-lines
                            opacity: .75
                        &-line--up
                            position: absolute
                            left: 0
                            right: 0
                            top: 10px
                            height: 1px
                            background: #fff

                        &-line--left
                            position: absolute
                            left: 10px
                            bottom: 0
                            top: 0px
                            width: 1px
                            background: #fff

                        &-line--right
                            position: absolute
                            right: 10px
                            bottom: 0
                            top: 0px
                            width: 1px
                            background: #fff
                        &-logo
                            height: 64px
                            width: 64px
                            background: #262626
                            display: flex
                            align-items: center
                            justify-content: center
                            position: absolute
                            right: 0
                            top: 0

                    &__footer
                        background: #262626
                        padding: 20px 0px
                        &-desc
                            display: flex
                            flex-direction: column
                            gap: 4px
                            padding: 20px 30px
                            border-top: 1px solid #fff
                        &-title
                            color: #FFF
                            font-size: 24px
                            font-style: normal
                            font-weight: 500
                            line-height: normal
                            letter-spacing: 0.72px

                            @media screen and ( max-width: $md2 )
                                font-size: 22px
                            @media screen and ( max-width: $md3 )
                                font-size: 21px
                        &-text
                            color: #FFF
                            font-size: 17px
                            font-style: normal
                            font-weight: 400
                            line-height: normal
                            @media screen and ( max-width: $md2 )
                                font-size: 16px
                            @media screen and ( max-width: $md3 )
                                font-size: 14px
                    &__btn-container
                        margin-top: 5px
                        padding: 0 30px
                        .btn
                            width: 100%
                            height: 100%
                            max-height: 100%
                            height: 63px

    &__new-year
        display: flex
        flex-direction: row
        min-height: 300px
        margin-top: 100px
        margin-bottom: 100px
        @media screen and ( max-width: $md1 )
            flex-wrap: wrap

        @media screen and ( max-width: $md3 )
            margin-bottom: 0px
        &.i-new-year
            .i-new-year
                &__left, &__right
                    width: 50%
                    @media screen and ( max-width: $md1 )
                        width: 100%
                &__left
                    background: #f6f6f6
                    padding: 50px
                    display: flex
                    flex-direction: column
                    gap: 16px

                &__fakebg
                    width: 300px
                    position: absolute
                    left: 0
                    top: 0
                    bottom: 0
                    background: #f6f6f6
                &__right
                    position: relative
                    @media screen and ( max-width: $md1 )
                        display: none
                    img
                        position: absolute
                        top: 80px
                        bottom: -80px
                        object-fit: cover
                        height: 100%
                        width: 100%

                &__title
                    font-size: 24px
                    color: #262626
                    margin: 0
                    padding: 0
                &__container
                    display: flex
                    flex-direction: column
                    gap: 24px

                &__text-container
                    display: flex
                    flex-direction: column
                    position: relative
                    &.line
                        position: relative
                        padding-left: 12px
                        &::after
                            content: ''
                            width: 1px
                            position: absolute
                            top: 0
                            bottom: 0
                            left: 0
                            background: #393939
                &__text
                    font-size: 16px
                    color: #393939
                    line-height: 150%
                    &.bold
                        color: #262626

    &__about-hotel
        &.about-hotel
            padding:
                top: 100px
                bottom: 100px
            display: flex
            flex-direction: column
            gap: 150px

            @media screen and ( max-width: $md2 )
                gap: 80px

            .about-hotel
                &__wrapper
                    display: flex
                    justify-content: space-between
                    align-items: center
                    gap: 30px

                    @media screen and ( max-width: $md2 )
                        flex-direction: column
                    &.reverse
                        flex-direction: row-reverse
                        @media screen and ( max-width: $md2 )
                            flex-direction: column

                    .page-aquatory__list
                        padding-left: 70px
                        @media screen and ( max-width: $md1 )
                            padding-right: 0px

                        @media screen and ( max-width: $md2 )
                            padding:
                                right: 20vw
                                left: 20vw

                            .page-aquatory__list-title
                                text-align: center

                        @media screen and ( max-width: $md3 )
                            padding:
                                right: 10vw
                                left: 10vw
                        @media screen and ( max-width: $md4 )
                            padding:
                                right: 5vw
                                left: 5vw

                &__about
                    display: flex
                    flex-direction: column
                    gap: 20px
                    max-width: 370px
                &__text
                    color: #262626
                    font-size: 24px

                    @media screen and ( max-width: $md2 )
                        text-align: center
                &__desc
                    color: #393939
                    font-size: 16px
                    font-family: Lora
                    font-style: italic
                    letter-spacing: 0.48px
                    line-height: 150%

                    @media screen and ( max-width: $md2 )
                        text-align: center
                &__img
                    object-fit: cover
                    position: relative
                    img
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        width: 100%
                        height: 100%
                        object-fit: cover
                    &.img_min
                        width: 670px
                        height: 420px
                        max-width: 100%
                        // min-height: 420px
                        @media screen and ( max-width: $md1 )
                            min-width: 470px
                            max-width: 470px
                            min-height: 320px
                            max-height: 320px
                        @media screen and ( max-width: $md2 )
                            // max-width: 470px
                            // min-width: 470px
                            max-width: 100%
                            max-height: 600px
                    &.img_max
                        max-width: 670px
                        max-height: 550px
                        min-width: 670px
                        min-height: 550px
                        overflow: hidden
                        @media screen and ( max-width: $md1 )
                            min-width: 470px
                            max-width: 470px
                            min-height: 570px
                            max-height: 570px

                        @media screen and ( max-width: $md2 )
                            max-width: 100%
                            max-height: 600px

                            img
                                height: auto
                                width: auto

                        @media screen and ( max-width: $md2 )
                            max-height: 600px
                            img
                                height: 100%
                                width: 100%
                                object-fit: cover
                                max-width: 100%
                                max-height: 100%

                        @media screen and ( max-width: $md3 )

                            min-width: 100%
                            min-height: 390px
                            max-height: 390px
    &__scroll
        // padding: 0 5vw 0 10vw
        &.index-scroll
            padding: 100px 5vw 170px 10vw
            position: relative
            @media (max-width: $md1)
                padding: 100px 5vw 170px 5vw

            .index-scroll
                &__target
                    position: absolute
                    top: 0
                    left: 0
                    right: 0
                    bottom: 0
                    z-index: 0

                &__text
                    display: flex
                    flex-direction: column
                    gap: 20px
                    width: 370px
                    &-container
                        display: flex
                        // align-items: center
                        height: 100vh
                        @media (max-width: $md1)
                            height: fit-content
                            margin: 0 auto
                            padding:
                                left: 5vw
                                right: 5vw
                                bottom: 20px
                            max-width: 100%
                            .text
                                text-align: center
                                &-title
                                    text-align: center

                    &.--fixed-text
                        margin-top: 70px

                &__images
                    width: 75rem
                    display: flex
                    flex-direction: column
                    gap: 50px
                    padding: 0 0 0 80px
                    // max-width: 1140px
                    // margin: 0 auto
                    @media (max-width: $md1)
                        gap: 20px
                        padding: 40px 40px 0 40px
                        flex-direction: column
                        align-items: center

                    @media (max-width: $md3)
                        padding: 20px 0 0 0
                        max-width: calc( 100% - 24px )

                    &-container
                        display: flex
                        .visual
                            &.visual-1
                                // transform: translateY(-60px)
                            &.visual-2
                                @media (max-width: $md1)
                                    transform: translateY(-30px) scale(1)
                            &.visual-3
                                @media (max-width: $md1)
                                    transform: translateY(40px) scale(1.1)
                            &.visual-4
                                // transform: translateY(-60px)
                            &.visual-5
                                @media (max-width: $md1)
                                    transform: translateY(-60px) scale(1.1)
                            &.visual-6
                                @media (max-width: $md1)
                                    transform: translateY(40px)
                            &.visual-7
                                // transform: translateY(-60px)

                        &.one-img
                            img
                                max-width: 670px
                                max-height: 360px
                                width: 87rem
                                height: 46.8rem
                                @media (max-width: $md3)
                                    max-width: 100%
                                    max-height: 260px
                                    object-fit: cover

                        &.two-img
                            gap: 70px
                            justify-content: center
                            @media (max-width: $md4)
                                gap: 10vw
                                max-height: 240px
                            img
                                max-width: 270px
                                max-height: 400px
                                width: 36rem
                                height: 52rem
                                @media (max-width: $md4)
                                    max-width: calc( 49% - 20px)
                                    max-height: 180px
                                    object-fit: cover

                                &:last-child
                                    // margin-top: 80px

                            &.reverse
                                img
                                    &:last-child
                                        margin-top: 0
                                    &:first-child
                                        // margin-top: 80px
        &--inner
            display: flex
            flex-direction: row
            justify-content: space-between
            max-width: 1140px
            margin: 0 auto
            @media (max-width: $md1)
                flex-direction: column
                align-items: center

    &__previews
        &.preview-blocks
            .preview-blocks
                &__item-wrap
                    display: flex
                    width: 100%
                    min-width: 100vw
                    height: 100vh
                    min-height: 100vh
                    @media screen and ( max-width: $md2)
                        flex-direction: column-reverse
                        height: fit-content
                    &:nth-child(2n)
                        flex-direction: row-reverse
                        @media screen and ( max-width: $md2)
                            flex-direction: column-reverse

                        // @media screen and ( max-width: $md2)
                        //     flex-direction: column

                        .preview-blocks__item
                            justify-content: flex-end

                    &:nth-child(2n - 1)
                        .preview-blocks__item

                &__item
                    display: flex
                    max-width: 50%
                    width: 50%
                    background: #F6F6F6
                    @media screen and ( max-width: $md2)
                        width: 100%
                        max-width: 100%

                    @media screen and ( max-width:  $md3)
                        // padding-top: 10vh

                    &.preview-image
                        display: flex

                        @media screen and ( max-width: $md2)
                            max-height: 100vh
                            overflow: hidden

                        @media (max-height: 500px)
                            max-height: 150vh
                            height: 150vh
                        .preview-image
                            &__img-wrap
                                position: relative
                                height: 100%
                                width: 100%
                                overflow: hidden
                                z-index: 0

                                @media screen and (max-width: $md3)
                                    width: 100vw
                                    height: 100vw
                            &__img
                                display: block
                                position: relative
                                width: 100%
                                height: 100%
                                img
                                    width: 100%
                                    height: 100%
                                    -o-object-fit: cover
                                    object-fit: cover
                                    @media (max-width: $md3)
                                        // object-fit: cover
                                        width: 100vw
                                        margin-bottom: 50%

                &__preview-text
                    display: flex
                    flex-direction: column
                    gap: 2rem
                    justify-content: center
                    background: #F6F6F6

                    width: calc(50vw - 16rem)
                    min-width: 29rem
                    padding: 2rem 5vw
                    @media screen and ( max-width: $md2)
                        margin: 0 auto
                        padding: 5vw 20vw
                        width: calc(100vw - 16rem)
                        align-items: center
                        .text
                            text-align: center

                    @media screen and ( max-width: $md3)
                        padding: 10vw 5vw

                    @media screen and ( max-width: $md4)
                        padding: 15vw 0vw
    &__geo
        &.index-geo
            display: flex
            justify-content: space-between
            align-items: center
            padding: 200px 0

            @media screen and ( max-width: $md1 )
                flex-direction: column-reverse
                gap: 30px

            .index-geo
                &__map
                    background-size: cover
                    background-repeat: no-repeat
                    background: url(/img/index-map.png)
                    width: 670px
                    height: 500px
                    position: relative
                    overflow: hidden
                    display: flex
                    @media screen and ( max-width: $md3 )
                        max-height: 300px

                &__feed
                    display: flex
                    flex-direction: column
                &__title
                    display: flex
                    font-weight: 400
                    font-size: 32px
                    letter-spacing: 0.04em
                    text-transform: uppercase
                    color: #262626

                &__text
                    margin: 8px 0 32px 0
                    display: flex
                    font-weight: 400
                    font-size: 16px
                    color: #393939

                &__btn
                    width: 370px
