
.sport-calculator
    max-width: 370px
    display: flex
    flex-direction: column
    gap: 20px
    position: relative

    &__result
        padding: 20px 40px
        border: 1px solid #262626
        display: flex
        align-items: center
        justify-content: center
        font-size: 15px
        background: #fff
        transition: all .32s ease-in-out
        opacity: 1
        visibility: visible
        max-width: 1170px
        width: 30%
        min-width: 200px
        position: fixed
        bottom: 0
        right: 0
        left: 50%
        transform: translateX(-50%)
        box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.15)
        z-index: 1000
        @media screen and ( max-width: $md3 )
            width: 100%

        &.hidden
            opacity: 0
            visibility: hidden

.page-sports-camps__calculate
    padding-bottom: 200px
    margin-bottom: 200px
    display: flex
    flex-direction: column
    gap: 40px

.page-sports-camps
    &__swiper-nav
        height: 64px
        width: 100%
        display: flex
        justify-content: space-between
        position: absolute
        top: 50%
        transform: translateY(-100%)
        z-index: 1000

#SportsCampsSwiperNav--Prev, #SportsCampsSwiperNav--Next
    display: flex
    padding: 48px
    background: #fff
    margin-bottom: 40px
    position: absolute
#SportsCampsSwiperNav--Prev
    top: 30%
    left: 10px
#SportsCampsSwiperNav--Next
    top: 30%
    right: 10px

.sport-object-form
    display: flex
    align-items: center
    padding-top: 200px
    padding-bottom: 200px
    flex-direction: column
    @media screen and ( max-width: $md3 )
        padding-top: 50px
        padding-bottom: 50px

    &__heading
        color: #262626
        font-size: 24px
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.72px
        max-width: 570px
        text-align: center

    &__desc
        color: #393939
        font-size: 16px
        font-style: italic
        font-weight: 400
        line-height: 150%
        letter-spacing: 0.48px
        max-width: 570px
        text-align: center
        margin: 12px 0 60px 0
        @media screen and ( max-width: $md3 )
            margin: 12px 0 20px 0

    &__wrapper
        max-width: 370px
        width: 100%
        display: flex
        flex-direction: column
        gap: 6px

        .btn
            margin-top: 20px
            width: 100%

.cards-menu
    padding-top: 100px
    padding-bottom: 100px
    @media screen and ( max-width: $md2 )
        display: flex
        flex-direction: column
        align-items: center

    &__title
        color: #262626
        font-size: 24px
        font-weight: 400
        line-height: 150%
    &__content
        margin-top: 20px
        display: flex
        flex-direction: row
        gap: 60px 30px
        overflow-x: scroll

        @media screen and ( max-width: $md2 )
            flex-wrap: wrap
            max-width: 100%
            justify-content: center
            gap: 60px 2%
        .btn
            width: 100%
            gap: 20px
            align-items: center
            .svg
                height: 16px
                padding-top: 1px
            &:hover
                .svg
                    // filter: invert(1)
                    path
                        fill: #fff
    &__card
        width: 100%
        position: relative
        display: flex
        flex-direction: column
        gap: 20px

        max-width: 370px
        overflow: hidden
        min-width: 370px
        @media screen and ( max-width: $md2 )
            max-width: 45vw
            min-width: 45vw
            width: 100%
        @media screen and ( max-width: $md3 )
            width: 100%
            max-width: 80vw
        @media screen and ( max-width: $md4 )
            min-width: 90%

        &-wrapper
            height: 560px
            position: relative
            display: flex
            flex-direction: column
            cursor: pointer
            overflow: hidden
            @media screen and ( max-width: $md3 )
                height: 410px
            img
                @media screen and ( max-width: $md2 )
                    width: 100%
                    object-fit: cover

        &-text
            position: absolute
            z-index: 1
            bottom: 0
            padding: 30px
            display: flex
            flex-direction: column
            gap: 4px
            &::before
                content: ''
                position: absolute
                left: 0
                right: 0
                bottom: 0
                top: -50px
                background: linear-gradient(180deg, rgba(57, 57, 57, 0.00) 0%, rgba(57, 57, 57, 0.48) 39.06%, rgba(57, 57, 57, 0.90) 99.48%)
                z-index: 0
        &-title
            color: #FFF
            font-size: 20px
            font-weight: 500
            line-height: 150%
            z-index: 2
            position: relative
        &-desc
            color: #FFF
            font-size: 15px
            font-weight: 400
            line-height: 150%
            z-index: 2
            position: relative

.sports-news
    display: flex
    gap: 30px
    margin-top: 20px
    margin-bottom: 100px
    @media screen and ( max-width: $md2 )
        display: none
    &.news-slider
        display: none
        flex-direction: row
        gap: 30px
        overflow-x: scroll
        @media screen and ( max-width: $md2 )
            display: flex
        .news-slide
            max-width: 100vw
    @media screen and ( max-width: $md2 )
        flex-direction: column
    &__item
        display: flex
        align-items: flex-end
        position: relative
        min-width: 310px
        &-meta
            display: flex
            align-items: center
            gap: 24px
            font-size: 14px
            line-height: 150%
            position: relative
            &::after
                content: ''
                position: absolute
                top: 27px
                right: 0px
                left: 0
                height: 1px
                background: #fff
                opacity: .3
            .svg-meta
                div
                    display: flex
                    align-items: center
            .news-meta-content
                display: flex
                flex-wrap: nowrap
                align-items: center
                gap: 8px
        &-img
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute
        &-footer
            position: relative
            z-index: 100
            width: 100%
            display: flex
            flex-direction: column
            gap: 16px
            padding: 100px 30px 35px 30px
            background: linear-gradient(179deg, rgba(57, 57, 57, 0.00) 0.44%, rgba(57, 57, 57, 0.53) 39.16%, #393939 99.05%)
            color: #fff
            font-size: 15px
            cursor: pointer
            span
                overflow: hidden
                display: -webkit-box
                -webkit-line-clamp: 4
                -webkit-box-orient: vertical
                position: relative
            .svg-link
                position: absolute
                top: 100px
                right: 30px

        &.general
            height: 510px
            width: 770px
            max-width: 100%
            @media screen and ( max-width: $md2 )
                height: 310px
                max-width: 570px
                margin: 0 auto
                .sports-news__item-footer
                    span
                        -webkit-line-clamp: 3
            @media screen and ( max-width: $md3 )
                height: 340px
                width: 100%
                .sports-news__item-footer
                    padding: 80px 20px 25px 20px
                    span
                        -webkit-line-clamp: 2

                .svg-link
                    position: absolute
                    top: 80px
                    right: 20px
            @media screen and ( max-width: $md4 )
                height: 340px
                .sports-news__item-footer
                    span
                        -webkit-line-clamp: 2

        &.min
            height: 240px
            width: 370px
            @media screen and ( max-width: $md2 )
                height: 310px
                width: 100%
                max-width: 570px
                margin: 0 auto
                .sports-news__item-footer
                    span
                        -webkit-line-clamp: 3
            @media screen and ( max-width: $md3 )
                height: 310px
                .sports-news__item-footer
                    span
                        -webkit-line-clamp: 4
            @media screen and ( max-width: $md4 )
                height: 260px
                .sports-news__item-footer
                    span
                        -webkit-line-clamp: 4

    &__wrapper-min
        display: flex
        flex-direction: column
        gap: 30px
        width: 370px
        @media screen and ( max-width: $md2 )
            width: 100%
