
.sport-calculator
    max-width: 370px
    display: flex
    flex-direction: column
    gap: 20px

.page-sports-camps__calculate
    padding-bottom: 200px
    margin-bottom: 200px
    display: flex
    flex-direction: column
    gap: 40px

